body,
html {
	height: 100%;
}

#hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('home-header.jpg');
	height: 400px;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#header-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.container-padding {
	padding: 40px 0px;
}

.gray-container {
	background-color: #e6e6e6;
	padding: 20px 0px 40px 0px;
}

#navigation {
	background-color: #def2f1;
	margin-bottom: 0px;
}

.table-group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)) 10%;
	justify-content: space-around;
	border-bottom: 1px solid #ccc;
	padding: 15px 5px;
	grid-gap: 1rem;
}

.new-exercise-group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)) 15%;
	justify-content: space-around;
}

@media only screen and (max-width: 700px) {
	.table-group {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		justify-content: space-around;
		border-bottom: 1px solid #ccc;
		padding: 10px;
		grid-gap: 1rem;
	}
	.new-exercise-group {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
		justify-content: space-around;
	}
}

.table-header {
	background-color: #3aafa9;
	font-weight: 700;
	color: white;
	padding: 10px 5px;
}

.ui.label {
	font-size: 14px;
	font-weight: 400;
}

.align-table-content {
	display: flex;
	align-items: center;
	padding: 10px;
}

.align-button {
	justify-content: center;
}

.clickable-icon {
	cursor: pointer;
}

.clickable-table-text:hover {
	cursor: pointer;
}

.edit-inputs {
	font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
	margin: 0;
	outline: 0;
	line-height: 1em;
	padding: 0.6em 1em;
	font-size: 1em;
	background-color: white;
	border: 1px solid rgba(34, 36, 38, 0.15);
	color: rgba(0, 0, 0, 0.87);
	border-radius: 0.285rem;
	box-shadow: 0 0 0 0 transparent inset;
	width: 70%;
}

.edit-buttons {
	display: inline-flex;
	margin: 0px 5px;
	font-size: 1.2em;
}

.block {
	display: block !important;
}

.radio-buttons {
	display: inline-block;
	position: relative;
	padding: 0px 10px 0px 25px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.radio-buttons input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.custom-radio {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 50%;
}

.radio-buttons:hover input ~ .custom-radio {
	background-color: #ccc;
}

.radio-buttons input:checked ~ .custom-radio {
	background-color: #2185d0;
}

.custom-radio:after {
	content: '';
	position: absolute;
	display: none;
}

.radio-buttons input:checked ~ .custom-radio:after {
	display: block;
}

.radio-buttons .custom-radio:after {
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.info-message {
	background-color: #e6e6e6 !important;
}

.graph-drop-down {
	position: relative;
	display: block;
	font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
	font-size: 16px;
	color: #60666d;
	padding: 10px;
	border-radius: 5px;
	margin-left: 20px;
}

.graph-style {
	border: 1px solid #ccc;
	border-radius: 20px;
	margin: 20px;
	padding: 20px;
}

.bottom-margin {
	margin-bottom: 2.5em;
}
