label {
	font-weight: 700;
}

.ui.container {
	padding: 40px 0px;
}

.gray-container {
	background-color: #e6e6e6;
	padding: 20px 0px 40px 0px;
}

#navigation {
	background-color: #ebe89d;
}

.table-group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)) 10%;
	justify-content: space-around;
	border-bottom: 1px solid #ccc;
	padding: 15px 5px;
	grid-gap: 1rem;
}

.new-exercise-group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)) 15%;
	justify-content: space-around;
}

@media only screen and (max-width: 700px) {
	.table-group {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		justify-content: space-around;
		border-bottom: 1px solid #ccc;
		padding: 10px;
		grid-gap: 1rem;
	}
	.new-exercise-group {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
		justify-content: space-around;
	}
}

.table-header {
	background-color: #2c7a7b;
	font-weight: 700;
	color: white;
	padding: 10px 5px;
}

.ui.label {
	font-size: 14px;
	font-weight: 400;
}

.align-table-content {
	display: flex;
	align-items: center;
	padding: 10px;
}

.align-button {
	justify-content: center;
}

.clickable-icon {
	cursor: pointer;
}

.clickable-table-text:hover {
	cursor: pointer;
}

.edit-inputs {
	font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
	margin: 0;
	outline: 0;
	line-height: 1em;
	padding: 0.6em 1em;
	font-size: 1em;
	background-color: white;
	border: 1px solid rgba(34, 36, 38, 0.15);
	color: rgba(0, 0, 0, 0.87);
	border-radius: 0.285rem;
	box-shadow: 0 0 0 0 transparent inset;
	width: 50%;
}

.edit-buttons {
	display: inline-flex;
	margin: 0px 5px;
	font-size: 1.2em;
}
