/* Global Styling */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto&display=swap');
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.mt-20 {
	margin-top: 20px;
}
.mr-20 {
	margin-right: 20px;
}
.mb-20 {
	margin-bottom: 20px;
}
.ml-20 {
	margin-left: 20px;
}
.pt-20 {
	padding-top: 20px;
}
.pr-20 {
	padding-right: 20px;
}
.pb-20 {
	padding-bottom: 20px;
}
.pl-20 {
	padding-left: 20px;
}
.clickable {
	cursor: pointer;
}
.header-base {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	letter-spacing: 0.5px;
}
.font-blue {
	color: #0c2b5b;
}
.font-white {
	color: #ffffff;
}

/* App Component Styling */
nav {
	padding: 5px 20px;
}
nav a {
	color: #0c2b5b;
	font-weight: 700;
}
nav ul {
	list-style-type: none;
	margin: 0;
}
.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.menu li {
	padding: 15px 5px;
	white-space: nowrap;
}
.logo a:hover {
	text-decoration: none;
}
.logo i {
	margin-right: 10px;
	color: #68d0b1;
}
.toggle {
	order: 1;
}
.logo a,
.toggle a {
	font-size: 22px;
}
.nav-item {
	width: 100%;
	text-align: center;
	order: 2;
	display: none;
}
.nav-item.button {
	order: 3;
}
.nav-item.active {
	display: block;
}

/* Desktop Nav */
@media all and (min-width: 600px) {
	.menu {
		justify-content: center;
	}
	.menu li {
		padding: 15px 10px;
	}
	.menu li.button {
		padding-right: 0;
	}
	.logo {
		order: 0;
		flex: 1;
	}
	.toggle {
		display: none;
	}
	.nav-item {
		display: inline-block;
		width: auto;
		order: 1;
	}
	.nav-item.button {
		width: auto;
		order: 2;
		display: inline-block;
	}
	.nav-item.button.secondary {
		border: 0;
	}
	.nav-item.button a {
		padding: 7.5px 15px;
		background-color: #aeebdc;
		border-radius: 10px;
	}
	.nav-item.button.secondary a {
		background: transparent;
	}
	.nav-item.button a:hover {
		text-decoration: none;
	}
	.nav-item.button:not(.secondary) a:hover {
		background-color: #daf2ec;
	}
	.nav-item.button.secondary a:hover {
		color: #aeebdc;
	}
}
